* {
   margin: 0;
   padding: 0;
}

body{
   height: 1000px;
}

#pic{
   background: #fff url('NY.jpg') no-repeat center top;
   height: 1000px;
   background-size: cover;
   background-position: center;
}
#head {
   width: 100px;
   heigh: 1500px;
   background: red;
}